<div class="modal fade" id="createApplicationModal" tabindex="-1" aria-labelledby="createApplicationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createApplicationModalLabel">Создать Заявку</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="{{url_for('create_application')}}">
                <div class="modal-body">
                    <div class="mb-3">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Выберите специальность</option>
                            {% for speciality in specialities %}
                            <option value="{{speciality.id}}">speciality.name</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input class="form-control" id="enrollee_id" name="enrollee_id" value="{{enrollee.id}}"
                        hidden="true">
                    <div class="mb-3">
                        <label for="total_points" class="form-label">Количество баллов</label>
                        <input class="form-control" id="total_points" name="total_points">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary">Создать</button>
                </div>
            </form>
        </div>
    </div>
</div>